#box {
    height: auto;
}

.form-control-container {
    position: relative;
    margin: 1em;
}

.save-button {
    position: absolute;
    bottom: 5px;
    right: 22px;
    border-radius: 20px !important;
    /* margin-top: 10px; */
}